@page "/GestionMascotas"
@using BrunoSpaBlazor.Models
@using BrunoSpaBlazor.Services
@rendermode InteractiveServer
@inject IHttpContextAccessor HttpContextAccessor
<h3>GestionMascotas</h3>
<input value="ObtenerVariableSesion" />

@code {

}

