@page "/GestionUsuarios"
@using BrunoSpaBlazor.Components.Pages.Cliente
@rendermode InteractiveServer
@inject UsuarioService UsuarioService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<h3>Gestion de Usuarios</h3>
<div class="row">
    <div class="col-12 col-md-4">
        <CrearCliente />
    </div>
    <div class="col-12 col-md-8">
        <MostarClientes />
    </div>
</div>
@code {

}